web_programming_study/XML_practice/name01.rng

<element name="방명록" xmlns="http://relaxng.org/ns/structure/1.0">
    <zeroOrMore>
        <element name="성명">
            <interleave>
                <text/>
                <optional>
                    <element name="성"><text/></element>
                </optional>
                <optional>
                    <element name="이름"><text/></element>
                </optional>
            </interleave>
        </element>
    </zeroOrMore>
</element>