web_programming_study/Personal_Study/XML Practice/XML_validation/addressbookXSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="방명록">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="성명" type="xs:string"/>
        <xs:element name="전자우편" type="xs:string"/>
        <xs:element name="내용" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>