web_programming_study/XML_newspaper/all_article1.rng

<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0">
<start> <!--내가 만든 RNG-->
    <element name="news">
        <oneOrMore>
            <element name="article">
                <element name="company"><text/></element>
            </element>
            <ref name="Title"/>
            <ref name="Editor"/>
        </oneOrMore>
    </element>
</start>

<define name="Title">
    <element name="title">
        <element name="main_title"><text/></element>
        <optional>
            <element name="sub_title"><text/></element>
        </optional>
    </element>
</define>

<define name="Editor">
    <element name="writer">
        <element name="editor_name"><text/></element>
            <optional>
                <element name="editor_email">
                    <attribute name="address1"/>
                    <optional>
                        <attribute name="address2"/>
                    </optional>
                </element>
            </optional>
    </element>
</define>
</grammar>